/** fonts

 */

/** icons **/
.pickcalendar {
    height: 30px;
}

/** index.php

 */



/** procentaj

 */

.procentaj1 {
    list-style-type: none;
    margin-bottom: 0rem !important;
    padding: 0 !important;
}

.procentaj1 li {
    display: inline;
    margin-right: 50px;
    font-family: Montserrat;
    font-weight: 700;
}

.procentaj1 li:last-child {
    display: inline;
    margin-right: 0px;
    font-family: Montserrat;
    font-weight: 700;
}

.procentaj1-bg1 {
    background-color: #fd5b98;
}

.procentaj1-bg2 {
    background-color: #d90354;
}

/** end **/

.display-4 {
    font-family: Montserrat;
    font-weight: 700;
}

.text-themecolor {
    color:#ef4b27;
}

.whitebg {
    background-color: #fff;
    position: relative;
    /*display: flex;*/

    flex: 1 1 auto;
    padding: 20px 8px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    margin: 0px;
    margin-bottom: 20px;
}

.whitebg_card {

}

.roundcorners {
    border-radius: 10px!important;
    box-shadow: 5px 2px 18px 10px #ebebeb;
}

.bg-blue {
    background-color: #1957f4!important
}

a.bg-blue:focus,
a.bg-blue:hover,
button.bg-blue:focus,
button.bg-blue:hover {
    background-color: #164bd1!important
}


.bg-yellow {
    background-color: #f4e219!important
}

a.bg-yellow:focus,
a.bg-yellow:hover,
button.bg-yellow:focus,
button.bg-yellow:hover {
    background-color: #dcca06!important
}


.bg-green {
    background-color: #13d164!important
}

a.bg-green:focus,
a.bg-green:hover,
button.bg-green:focus,
button.bg-green:hover {
    background-color: #04a549!important
}

.bg-orange {
    background-color: #ff9057!important
}

a.bg-orange:focus,
a.bg-orange:hover,
button.bg-orange:focus,
button.bg-orange:hover {
    background-color: #ff6d24!important
}



.border-activity {
    /*border-top: solid 1px #ffffff;*/
    /*border-left: solid 1px #ffffff;*/
    background-color: rgba(39, 43, 61, 0.2);
    padding-top: 14px;
    margin-left: 60px;
    padding-right: 10px;
    padding-bottom: 0px;
    /*opacity: 0.7;*/
    font-weight: 700;
}
.border-activity img {
    /*height: 32px;*/
    height: auto;
    width:auto;
    opacity: 0.7;

    float: right;
    clear: both;
    margin-top: 5px;
    padding-left: 10px;
}

.border-activity i, .border-activity svg-inline- {
    padding-top:10px;
}

.border-activity>div>div {
    width: 120px;
    /*background: #000;*/
    display: inline-block;
    height: 50px;
}

.border-activity>div>div>b {

}

.border-activity>div>img {

}



/** Participator score **/
.message-box .message-widget a .mail-contnet h5 {
    display: inline !important;
}

.message-box .message-widget a .mail-contnet .mail-desc, .message-box .message-widget a .mail-contnet .time {
    display: inline !important;
}

.userline {
    box-sizing: content-box;
    height: 10px;
    width: 30%;
    margin-left: 30px;
    margin-top: 1rem;
    display: inline;
    position: absolute;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}



.message-box .message-widget a {
    border-bottom: none !important;
}


/** Users **/
.fa-star {
    color:#ffde00;
}



/*** News ***/
.procentaj2 {
    list-style-type: none;
    margin-bottom: 0rem !important;
    padding: 0 !important;
}

.procentaj2 li {
    display: inline;
    /*margin-right: 67px;*/
    margin-right: 58px;
    font-family: Montserrat;
    font-weight: 700;
}

.procentaj2 li:last-child {
    display: inline;
    margin-right: 0px;
    font-family: Montserrat;
    font-weight: 700;
}

/** progres bar news ***/

.progressbarNews{

}

.progressbarNews>h5{
    clear:both;
    float:left;
    width: 9%;
    margin-top: -5px !important;
    margin-bottom: 5px !important;
}

.progressbarNews>div{
    position:relative;
    width: 90%;
    margin-top: 4px;
    margin-bottom: 25px;
}

.bgprogress {
    background-color: #00cb18;
}

.newscharts {
    position: relative;
    margin-top:60px;
}
.newscharts>div>div>input {
    font-family: 'Montserrat' !important;
    font-weight: 700;
    margin-left: -165px !important;
}

.newschartsNr {
    position: absolute;
    font-family: 'Montserrat' !important;
    font-weight: 200;
    left: 60px;top:-130px;
}

.newschartsPercent {
    position: absolute;
    left: 112px;
    top:-117px;
    font-size: 40px;
    font-weight: 700 !important;
}

.newschartsDetails {
    position: absolute;
    font-family: Montserrat;
    font-weight: 600 !important;
    left: 45px;top:-65px;
}

.newscharts>div {
    margin-right: 38px;
}

.newscharts>div:last-child {
    margin-right: 0px;
}

.footable > thead > tr > th {

}

#table-news>table>head>tr>th {
    font-family: Montserrat;
    font-weight: 700;
    color:#000000 !important;
}

table>head>tr>th {
    font-family: Montserrat;
    font-weight: 700;
    color:#000000 !important;
}


/** Media **/
.img-round {
    border-radius: 10px;
}

.date_time {
     margin-top:15px;
}

.date_time>img {
    margin-right: 20px;
    opacity: 0.3;
}

custom-checkbox {

}

.social1 {
    margin-top:100px;
    background-color: #f9f9f9;
    border:1px solid #dcdcdc;
    padding: 15px 40px;
    width: 150px;
    display: inline;
}

/** btt send modal **/
.btnSendModal {
    color: #fff;
    background-color: #e61610;
    border-color: #e61610;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    width: 100%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btnSendModal:hover {
    color: #fff;
    background-color: #e54b46;
    border-color: #e54b46;
}

/*** settings ***/

.btn-settings {
    font-family: Montserrat;
    font-weight: 700;
    color:#ffffff;
    background-color: #ef4b27;
    padding: 5px 15px;
}

.btn-settings:hover {
    color: #fff;
    background-color: #cd4122;
    border-color: #cd4122;
}


.btn-settings-grey {
    font-family: Montserrat;
    font-weight: 700;
    color:#ffffff;
    background-color: #e4e4e4;
    padding: 5px 15px;
}

.btn-settings-grey:hover {
    color: #fff;
    background-color: #b6b6b6;
    border-color: #b6b6b6;
}

.btn-color-picker {
    padding: 0px !important;
    border: none;
    background-color: transparent;
    height: 30px;
    /*padding: 5px 15px;*/
}

.btn-update-settings {
    font-family: Montserrat;
    font-weight: 700;
    color:#ffffff;
    background-color: #ef4b27;
    padding: 5px 15px;
    width:40%;
}

.ico-m-b {
    margin:0px 15px;
}


.ico-m-l {
    margin:0px 5px;
}

